.leftNav {
  display: flex;
  flex-direction: column;
  /* flex: 0.15; */
  width: 60%;
  min-width: 70px;
  /* width: 150px; */
  /* background-color: red; */
  /* border: 1px solid red; */
  /* position: relative; */
  /* top: 58px; */
  /* left: 0; */
  /* overflow: scroll; */
  background-color: rgb(32, 32, 32);
  /* margin-top: -51px; */
  /* align-items: center; */
  overflow-y: scroll !important;
  height: 90vh;
}
.elements {
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
  border: none;
  /* border: 1px solid white; */
  margin: 0.5px 0;
}
.elements:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
}
/* .elementIcon {
} */
.elementTitle {
  position: relative;
  bottom: 10px;

  flex: 1;
  font-weight: 500;
  font-size: 15px;
  margin: auto 20px;
  /* margin-left: 20px; */
  /* align-items: center; */
}
.leftNav .signIN {
  margin: 1.5px 0;
}
.leftNav .profileIcon {
  position: relative;
  left: 8px;
  /* align-items: center; */
}
.leftNav .signIN span {
  position: relative;
  left: 25px;
  /* align-items: center; */
}

/* .elements:hover > .elementIcon {
  color: red;
} */

/* SCROLLBAR */
/* ::-webkit-scrollbar-track {
  background-color: rgb(48, 48, 48);
} */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: lightgray;
}

.switch {
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
}
.switchMargin {
  margin-bottom: 6px;
}
.switchWidth {
  width: 25%;
}
.switchFontSize {
  font-size: 12px;
  font-weight: 400;
}

/* RESPONSIVE CODE */
@media only screen and (max-width: 1290px) {
  .elementTitle {
    font-weight: 500;
    font-size: 15px;
    margin: auto 10px;
  }
}
@media only screen and (max-width: 1210px) {
  .elementTitle {
    font-weight: 400;
    font-size: 14px;
    margin: auto 5px;
  }
}

@media only screen and (max-width: 1135px) {
  .elements {
    display: flex;
    flex-direction: column;
  }
  .elementIcon {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 670px) {
  .elementTitle {
    font-size: 13px;
  }
}
@media only screen and (max-width: 580px) {
  .elementTitle {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .elementTitle {
    font-weight: 400;
    font-size: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .elementTitle {
    font-weight: 400;
    font-size: 9px;
  }
}
